*{
  font-family: 'VT323', monospace;
  font-size: 24px;
}
img{
  width: 250px;
}
input{
  display: block;
}
h1{
  font-size: 36px;
}
table{
  border-style: double;
}
tr:nth-child(odd){
  background-color: lightgrey;
}
ul{
  border-style:solid;
  margin-right: 50px;

}
ul button{
    margin-bottom: 50px;
}
ul ul{
  border-style:dashed;
  margin-right: 50px;
}